footer{
  width: 100%;
  padding: 10px 0;
  background-color: var(--Bg-Cuaternary);
  font-size: clamp(1rem, 2vw, 1.5rem); 
  box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;   /*centra verticalmente*/
  flex-direction: column;
  z-index: 1000;
  color: var(--FontColor-header-footer);
}
footer .foot{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .foot img{
  height: 3.5rem;
  width: 3.5rem;
  display: block;
  border-left: 2px;
  margin-left: 2rem;
}
footer .foot p{
  display: flex;
  justify-content: center;
  padding: 0 2vw;
}
footer .informacion-contacto{
  display: flex;
  flex-direction: column;
}