header{
  position: sticky; 
  top: 0; 
  width: 100%; 
  padding: 1rem 0; 
  background-color: var(--Bg-Cuaternary); 
  z-index: 1000;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3); 
}
header nav{
  display: flex; 
  align-items: center;  
  justify-content: space-between; 
}
header img{
  height: 3.5rem;
  width: 3.5rem;
  display: block;
  margin-left: 2rem;
}
.navegador{ 
  font-size: clamp(1.5em, 3vh, 2rem); 
  font-style: oblique;
  display: flex;
  align-items: center;
  list-style: none
}
header nav a{ 
  margin: 0 2vw;
  text-decoration: none; 
  color: var(--FontColor-Important); 
}
header nav a:hover{ 
  color: #ffffff;
  text-shadow: 0 0 2px #dddddd; 
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*MENU OCULTO*/
.menuOculto{
  display: none;
  margin-top: 10px;
  padding: 10px;
  border-top: 3px solid var(--Bg-Main);
}
.menuOculto ul{
  list-style: none;
}
.menuOculto ul a{
  display: block;
  border-bottom: 1px solid var(--Bg-Main);
  color: white;
  padding: 10px;
  position: relative;
}
.Mostrar{
  display: block;
}

@media(max-width:1000px){
  .navegador{
    display:none;
  }
}
